.signup{
    width: 1440px;
    height: 160px;
    padding: 30px 0;
    background: #171819;
}
.signup__wrapper{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 51px;
}
.signup__title{
    margin-right: 70px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 0.846154px;
    color: #FFF;
}
.signup__form{
    display: flex;
}
.form-control{
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #979797;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.07px;
    color: #48555B;
}
.signup__button{
    width: 150px;
    height: 40px;
    background: #00A4E5;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    cursor: pointer;
}
.footer__copyright{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    text-align: center;
}