@import url("fonts.css");
@import url("header.css");
@import url("nav.css");
@import url("about.css");
@import url("capabilities.css");
@import url("touch.css");
@import url("footer.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 1440px;
    margin: 0 auto;
}